<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Aplikacija evidencija bankarskih usluga</h1>
    </header>
    <main>
        <section>
            <img class="img" href src="../../../assets/images/banka.jpg">
        </section>
        <section class="tekst">
            <h2>Informacije:</h2>
           <p><a href="http://localhost:4200/about"><button>O aplikaciji</button></a></p> 
            <p><a href="http://localhost:4200/author"><button>O autoru</button></a></p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Evidencija bankarskih usluga. All rights reserved.</p>
    </footer>
</body>
</html>
