<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>Aplikacija evidencija bankarskih usluga</h1>
    </header>
    <main>
        <section>
            <img href src="../../../../../../banka.jpg">
        </section>
        <section>
            <h2>Informacije:</h2>
            <a href="http://localhost:4200/about"><button>O aplikaciji</button></a>
            <a href="http://localhost:4200/author"><button>O autoru</button></a>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Evidencija bankarskih usluga. All rights reserved.</p>
    </footer>
</body>
</html>
