<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O autoru</title>
</head>
<body>
    <header>
        <h1>O autoru</h1>
        <nav>
            <ul>
                <a href="http://localhost:4200/home"><button class="pocetna">Povratak na početnu stranicu</button></a>
                
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Miloš Marčetić</h2>
            <img src="author.jpg">
            <p>Pozdrav, ja sam Miloš, a ovo je moj projekat iz predmeta razvoj programskih proizvoda.
                Student sam IV godine Inženjerskog menadžmenta, smer Informacioni menadžment.
               Više informacija o samoj aplikaciji možete pronaći na sledećem linku: 
            </p>
            <p><a href="http://localhost:4200/about"><button>O aplikaciji</button></a></p>
        </section>
        <section>
            <h2>Dosadašnja iskustva sa programskim jezicima</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>C#</li>
                <li>Java</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023. All rights reserved.</p>
    </footer>
</body>
</html>
