<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    
</head>
<body>
    <header>
        <h1>O aplikaciji</h1>
        <nav>
            <ul>
                <li><a href="index.html">Povratak na početnu stranicu</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div text-container> 
            <h2>O aplikaciji "Evidencija bankarskih usluga"</h2>
            <p>Ova aplikacija služi da korisnicima banke kao i ostalim zainteresovanima
                prikaže sve postojeće banke na našoj teritoriji, njihove filijale, korisnike usluga
                i usluge koje se izlistavaju za tačno određenog izabranog korisnika.</p>
            </div>
            <p>Više informacija o samom autoru možete naći na sledećem linku:
            </p>
            <p><a href="http://localhost:4200/author"><button>Autor aplikacije</button></a></p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Evidencija bankarskih usluga. All rights reserved.</p>
    </footer>
</body>
</html>
